@model IEnumerable<Web_Cinema_App.Models.FilmModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Фильмы</h1>

<p>
    <a asp-action="Create">Добавить фильм</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Номер фильма</th>
            <th>
                Название
            </th>
            <th>
                Описание
            </th>
            <th>
                Номер жанра
            </th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Id)</td>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdGenre)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
