@model IEnumerable<Web_Cinema_App.Models.PlaceModel>

@{
    ViewData["Title"] = "Index";
}

<h1>Места</h1>

<p>
    <a asp-action="Create">Добавить место</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>Номер места</th>
            <th>Номер кинозала</th>
            <th>Место</th>
            <th>Номер ряда</th>
            <th>Действия</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.IdRoom)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Number)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Row)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.Id">Изменить</a> |
                    <a asp-action="Delete" asp-route-id="@item.Id">Удалить</a>
                </td>
            </tr>
        }
    </tbody>
</table>
